{% extends 'base.html.twig' %}
{% block body %}
    <div class="column">
        <div class="column is-two-thirds">
            <div class="buttons">
                <a class="button is-primary" href="{{ path('user_index') }}">Edit/Add User</a>
                <br>
                <a class="button is-link" href="{{ path('group_training_index') }}">Edit/Add Group</a>
            </div>
            <div class="buttons">

            <div class="buttons">
                <a class="button is-warning" href="{{ path('send_notification') }}">Send notification to group</a>
                <br>
                <a class="button is-danger" href="{{ path('blockUserPage') }}">Block a user</a>
            </div>

        </div>
        <div class="column">
            Second column
        </div>
    </div>

{% endblock %}