<VirtualHost *:80>
  DocumentRoot /var/www/htdocs/fitnessapp/public
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
  Options Includes
  <Directory "/var/www/htdocs/fitnessapp/public">
  AllowOverride All
  </Directory>
</VirtualHost>

